.grid-container {
  display: grid;
  grid-template-columns: 24% 370px 1fr;
  padding: 10px;
  column-gap: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
}
body {
  margin-left: 50px;
  margin-right: 260px;
}
.h1h5 {
  padding-top: 200px;
  line-height: 5px;
}
img {
  max-width: 100%;
  width: 500px;
}
p {
  font-size: 22px;
  line-height: 35px;
  padding-top: 15px;
  margin-right: 30px;
}
