* {
  margin: 0;
}
.center {
  text-align: center;
}

header {
  background-image: url(images/catbackground.jpg);
  color: white;
}
header section h2 {
  padding-left: 30%;
  margin: auto;
}
header h1 {
  margin-bottom: 40px;
}
header p {
  max-width: 1050px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  margin-bottom: 20px;
}
header button {
  color: white;
  background-color: rgb(20, 71, 105);
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 8px 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

nav {
  background-color: rgb(20, 71, 105);
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: inline-block;
  padding: 20px;
  margin: 0 70px;
}
nav ul li {
  color: white;
}
nav ul li a {
  color: rgb(255, 116, 116);
}

.grid-container2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

footer ul {
  list-style: none;
  text-align: left;
}
main article img {
  width: 100%;
  height: auto;
}

main {
  margin-top: 50px;
}
a {
  text-decoration: none;
}
main button {
  background-color: rgb(255, 86, 86);
  border-radius: 14px;
}
main button a {
  color: white;
}
footer {
  background-color: rgb(20, 71, 105);
  color: white;
  margin-top: 20px;
  padding: 10px;
}
footer a {
  color: white;
}
footer section {
  margin-left: 20%;
}
